.venv/
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

output/**/*.mp4
output/**/*.avi
output/**/*.mov
output/**/*.mkv

audio/**/*.mp3
audio/**/*.wav
audio/**/*.flac
audio/**/*.aac
audio/**/*.ogg

clips/**/*.mp4
clips/**/*.avi
clips/**/*.mov
clips/**/*.mkv
